<!doctype html>
<html lang="de">
  {{ partial "head.html" . }}
  <body class="{{ if .IsHome }}home-page{{ else }}inner-page{{ end }}">
    <a class="skip-link" href="#main">Zum Inhalt springen</a>
    {{ partial "header.html" . }}
    <main id="main" tabindex="-1">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $script := resources.Get "js/site.js" | minify | fingerprint "sha256" }}
    <script src="{{ $script.RelPermalink }}" defer></script>
  </body>
</html>
